<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="Resona using api" />
    <title>Song Recognition</title>
    <!-- <link rel="stylesheet" href="/static/home.css" /> -->
    <link rel="stylesheet" href="{{url_for("static", filename = "home.css" )}}">
  </head>
  <body>
    <div class="navbar">
      <div class="options">
        <ul>
          <li><a href="#home" class="pd">Home</a></li>
          <li><a href="./record.html" class="pd">Record</a></li>
          <li><a href="/about" class="pd">About</a></li>
        </ul>
      </div>
      <div class="home">
        <button class="contact">Contact us</button>
      </div>
    </div>
    <div class="content">
      <!-- <h1>Upload MP3 for Song Recognition</h1> -->
      <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- <input type="file" name="file" accept=".mp3" required /> -->

        <div class="container">
          <div class="folder">
            <div class="front-side">
              <div class="tip"></div>
              <div class="cover"></div>
            </div>
            <div class="back-side cover"></div>
          </div>
          <label class="custom-file-upload">
            <input
              class="title"
              type="file"
              name="file"
              accept="mp3"
              required
            />
            Upload audio clip
          </label>
        </div>

        <button type="submit">Upload</button>
        <div class="image">
          <img id="songImage" src="" alt="album-img" />
          <!-- <a id="ply" href=""><button>play</button></a> -->
        </div>
      </form>

      <div id="result"></div>
    </div>

    <script>
      const imag = document.querySelector("#image");
      const form = document.querySelector("form");
      form.addEventListener("submit", async function (e) {
        e.preventDefault();

        const formData = new FormData(form);
        const response = await fetch("/upload", {
          method: "POST",
          body: formData,
        });

        const resultDiv = document.getElementById("result");
        const result = await response.json();

        if (result.error) {
          resultDiv.textContent = `Error: ${result.error}`;
        } else {
          // console.log(result);
          console.log(result[1]);

          console.log(result[1].track.share.subject);
          const imaglink = result[1].track.share.image;
          // const url = result[1].track.share.link;
          console.log(imaglink);
          songImage.src = imaglink;
          songImage.style.display = "block";

          const song = document.createElement("p");

          const resdiv = document.getElementById("result");

          song.innerHTML = result[1].track.share.subject;

          //   resdiv.append(song_cover)

          resdiv.append(song);

          //   resultDiv.textContent = `Result: ${JSON.stringify(result)}`;
        }
      });
    </script>
  </body>
</html>
